div.loading-message {
  font-size: 18pt;
  background-image: url(../assets/loading.gif);
  background-repeat: no-repeat;
  background-position: left center;
  height: 20px;
}
ul.list {
    li{
      color: gray;
    }
}
